/**
* Layout styles
*/

.portfolio_item {
	left: right;
    margin: 0 0 20px 0;
    padding:20px 20px 0 20px;
    box-shadow:1px 2px 2px #eaeaea;
    border:1px solid #eaeaea;
}

.portfolio_item h2 {
    font-size: 20px;
    margin: 20px 0 20px 0;
    text-align: right;
    padding-top: 250px;
    font-weight:bold;
}

.portfolio_item h2 a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.portfolio_item .role_wrapper {
    border-bottom: 1px dotted #ccc;
    position: relative;
    margin-bottom:20px;
}

.portfolio_item .role {
    float: left;
    color: #1db7a9;
    font-size: 30px;
    font-weight: bold;
    text-transform:uppercase;
    margin: 16px 10px 10px 10px;
    opacity:0.5;
}

.portfolio_item .role_title {
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    color: #1db7a9;
    line-height: 24px;
    text-align: right;
}

.portfolio_item span.role_skills {
    font-size: 18px;
    color: #a6a6a6;
}

/**
* Individual
*/

.shiftninja {
	/*background:#fff url(../dist/77d11c50bf28b0a3efde598b71a6eb59.png) top no-repeat;*/
	background:#fff url(assets/shiftninja.png) top no-repeat;
}

.spotified {
	background:#fff url(assets/spotified.png) top no-repeat;
}

.costar {
	/*background:#fff url(../dist/06c3d546c4434b0e1fec561659a35343.png) top no-repeat;*/
	background:#fff url(assets/costar.png) top no-repeat;
}

.rchess {
	/*background:#fff url(../dist/0b0b87ef5f7e5d0e35a179204c245fb1.jpg) top no-repeat;*/
	background:#fff url(assets/rchess.png) top no-repeat;
}

.coffee {
	/*background:#fff url(../dist/5f08b6472d56e2222dd4529ba934bc57.jpg) top no-repeat;*/
    background:#fff url(assets/coffee.png) top no-repeat;
}
